{% extends 'base.html' %}

{% block header %}
<div class="jumbotron">
  <div class="row">
    <div class="col-sm">
      <h1 class="display-4">MY DAY</h1>
      <p class="lead">រីករាយថ្ងៃថ្មី</p>
      <a href="{% url 'news' %}" class="btn btn-primary">ទីប្រជុំ</a>
    </div>
    <div class="col-sm">
      <p class="lead">{{user.username}}</p>
      <p class="lead">{{datetimenow}}</p>
      <a href="{% url 'logout' %}" class="btn btn-primary">ចាកចេញ</a>
    </div>
  </div>
    
</div>
{% endblock header %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-sm">
          <h3><a href="{% url 'list' %}">បញ្ជីការងារត្រូវធ្វើ</a></h3>
          <a href="{% url 'createTodo' %}" class="btn btn-primary">បន្ថែមការងារថ្មី</a>
          {% regroup TodoModel by category as todo_list %}
        {% for category_group in todo_list %}
        <div class="card">
            <h5 class="card-header">{{category_group.grouper}}</h5>
            <div class="card-body">
            {% for item in category_group.list %}
              <h5 class="card-title"><a href="{% url 'updateTodo'　item.pk %}">{{ item.title }}</a></h5>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-sm">
        <h3><a href="{% url 'assignment' %}">បញ្ជីកិច្ចការសាលា</a></h3>
        <a href="{% url 'createAssignment' %}" class="btn btn-primary">បន្ថែមកិច្ចការថ្មី</a>

        {% for item in AssignmentModel %}
        <div class="card">
          
            {% if item.is_end_date %}
              <h5 class="card-header">ខកខាន</h5>
            {% else %}
            <h5 class="card-header">សកម្ម</h5>
            {% endif %}
          
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'updateAssignment'　item.pk %}">{{ item.title }}</a></h5>
              <h6 class="card-title" style="color:red">DeadLine: {{ item.deadline}}</h6>
              <a href="{% url 'deleteAssignment' item.pk %}" class="btn btn-primary">លុបចោល</a>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
<div class='container'>
    


{% endblock content %}


