{% extends 'base.html' %}

{% block header %}
<div class="jumbotron">
    <div class="row">
        <div class="col-sm">
          <h1 class="display-4">MY DAY</h1>
          <p class="lead">បញ្ជីការងារត្រូវធ្វើ To-do List</p>
          <a href="{% url 'home' %}" class="btn btn-primary">ទំព័រដើម</a>
          <a href="{% url 'news' %}" class="btn btn-primary">ទីប្រជុំ</a>
        </div>
        <div class="col-sm">
          <p class="lead">{{user.username}}</p>
          <a href="{% url 'assignment' %}" class="btn btn-primary">បញ្ជីការងារសាលា</a>

          <a href="{% url 'logout' %}" class="btn btn-primary">ចាកចេញ</a>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class='container'>
    <a href="{% url 'createTodo' %}" class="btn btn-primary">បន្ថែមការងារថ្មី</a>
    <br><br>
    {% regroup object_list by tododate as todo_list %}
        {% for tododate_group in todo_list %}
        <div class="card">
            <h5 class="card-header">{{tododate_group.grouper}}</h5>
            <div class="card-body">
            {% for item in tododate_group.list %}
            <h3 class="card-title"><a href="{% url 'updateTodo'　item.pk %}" >{{ item.title }}</a></h3>
            <h6 class="card-title">{{ item.content }}</h6>
            <a href="{% url 'deleteTodo' item.pk %}" class="btn btn-primary">ដាក់ឱ្យdone</a>
            <br><br>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
</div>
{% endblock content %}


